
.font-class-DEFAULT { font-size: 16px !important;}

.font-class-TOC { font-size: 40px !important;text-align: center !important;text-decoration-line: underline !important;}

.font-class-COLLAPSE { font-size: 30px !important;text-align: left !important;}

.font-class-LARGE_HEADER { font-size: 30px !important;text-decoration-line: underline !important;}

.font-class-HEADER { font-size: 24px !important;}
