body.html-renderer {
    margin-right: 10% !important;
    margin-left: 10% !important;
    line-height: 1.25 !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    font-family: Calibri, Arial, sans-serif !important;
}

ul {
    padding-left: 20px !important;
}

div.columns-1,
div.columns-3,
div.columns-4,
div.columns-5,
div.columns-6 {
    column-rule: solid !important;
    column-rule-color: lightgray !important;
    column-rule-width: 2px !important;
}

div.columns-1 {
    column-count: 1 !important;
}

div.columns-2 {
    column-count: 2 !important;
}

div.columns-3 {
    column-count: 3 !important;
}

div.columns-4 {
    column-count: 4 !important;
}

div.columns-5 {
    column-count: 5 !important;
}

div.columns-6 {
    column-count: 6 !important;
}

li {
    page-break-inside: avoid !important;
    break-inside: avoid-column !important;
}

h1.columns-2,
h2.columns-2,
h3.columns-2,
h4.columns-2,
h1.columns-3,
h2.columns-3,
h3.columns-3,
h4.columns-3,
h1.columns-4,
h2.columns-4,
h3.columns-4,
h4.columns-4,
h1.columns-5,
h2.columns-5,
h3.columns-5,
h4.columns-5,
h1.columns-6,
h2.columns-6,
h3.columns-6,
h4.columns-6 {
    text-align: center;
}

p,
h1,
h2,
h3,
h4 {
    color: black !important;
}

tr:hover {
    background-color: lightgray !important;
}

div.collapsible-header {
    margin-left: -15px;
    margin-right: -15px;
}

table th,
table td {
    border: 0px !important;
    padding: 2px !important;
}

table tr {
    border-bottom: 1px solid darkgray !important;
    border-top: 0px solid rgb(0, 0, 0) !important;
}

ul.collapsible {
    margin: 0px !important;
    padding: 0px !important;
}