/*
Potential parchment color: #FCF5E5. Im not a huge fan of this look though.
*/

@font-face {
    font-family: "Computer Modern";
    src: url('../Fonts/cm-unicode-0.7.0/cmunss.ttf');
}

@font-face {
    font-family: "Computer Modern";
    src: url('../Fonts/cm-unicode-0.7.0/cmunsx.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Computer Modern";
    src: url('../Fonts/cm-unicode-0.7.0/cmunsi.ttf');
    font-style: italic, oblique;
}

@font-face {
    font-family: "Computer Modern";
    src: url('../Fonts/cm-unicode-0.7.0/cmunbxo.ttf');
    font-weight: bold;
    font-style: italic, oblique;
}

body {
    font-family: "Computer Modern", sans-serif;
    background-color: rgb(253, 252, 250);
}

body.html-renderer {
    margin-right: 10% !important;
    margin-left: 10% !important;
    line-height: 1.25 !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

ul {
    padding-left: 20px !important;
}

div.columns-1,
div.columns-2,
div.columns-3,
div.columns-4,
div.columns-5,
div.columns-6 {
    column-rule: solid !important;
    column-rule-color: lightgray !important;
    column-rule-width: 2px !important;
}

div.list-div.columns-1.subcolumn-inline,
div.list-div.columns-2.subcolumn-inline,
div.list-div.columns-3.subcolumn-inline,
div.list-div.columns-4.subcolumn-inline,
div.list-div.columns-5.subcolumn-inline,
div.list-div.columns-6.subcolumn-inline,
div.list-div.columns-1.subcolumn-inline,
div.list-div.columns-2.subcolumn-inline,
div.list-div.columns-3.subcolumn-inline,
div.list-div.columns-4.subcolumn-inline,
div.list-div.columns-5.subcolumn-inline,
div.list-div.columns-6.subcolumn-inline {
    display: flow-root;
}

div.columns-1.subcolumn-inline,
div.columns-2.subcolumn-inline,
div.columns-3.subcolumn-inline,
div.columns-4.subcolumn-inline,
div.columns-5.subcolumn-inline,
div.columns-6.subcolumn-inline {
    display: inline-flex;
}

div.columns-1.columns-no-rule,
div.columns-2.columns-no-rule,
div.columns-3.columns-no-rule,
div.columns-4.columns-no-rule,
div.columns-5.columns-no-rule,
div.columns-6.columns-no-rule {
    column-rule-width: 0px !important;
}

li.columns-1.columns-center,
li.columns-2.columns-center,
li.columns-3.columns-center,
li.columns-4.columns-center,
li.columns-5.columns-center,
li.columns-6.columns-center {
    text-align: center !important;
}

div.columns-1.columns-center.subcolumn-inline,
div.columns-2.columns-center.subcolumn-inline,
div.columns-3.columns-center.subcolumn-inline,
div.columns-4.columns-center.subcolumn-inline,
div.columns-5.columns-center.subcolumn-inline,
div.columns-6.columns-center.subcolumn-inline {
    text-align: center;
}

ul.ul-bordered {
    border: 1px solid black !important;
}

div.list-div.columns-1 {
    column-count: 1 !important;
}

div.list-div.columns-2 {
    column-count: 2 !important;
}

div.list-div.columns-3 {
    column-count: 3 !important;
}

div.list-div.columns-4 {
    column-count: 4 !important;
}

div.list-div.columns-5 {
    column-count: 5 !important;
}

div.list-div.columns-6 {
    column-count: 6 !important;
}

li {
    page-break-inside: avoid !important;
    break-inside: avoid-column !important;
}

p,
h1,
h2,
h3,
h4 {
    color: black !important;
}

div.collapsible-header p,
div.collapsible-header h1,
div.collapsible-header h2,
div.collapsible-header h3,
div.collapsible-header h4 {
    margin: 0.5rem 0 0.5rem 0 !important;
    width: max-content;
}

div.collapsible-header a {
    align-self: center;
}

p {
    margin-bottom: 0.5rem !important;
}

tr:hover {
    background-color: lightgray !important;
}

ul.collapsible {
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

div.collapsible-body {
    padding-bottom: 0px;
}

li.active div.collapsible-body {
    padding-bottom: 30px;
}

div.collapsible-header {
    margin-left: -30px;
    margin-right: -30px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background-color: rgb(253, 252, 250);
}

div.collapsible-header:hover {
    margin-left: -32px;
    margin-right: -32px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #f0f0f0;
}

div.collapsible-header.collapsible-header-open {
    margin-left: -32px;
    margin-right: -32px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #f0f0f0;
    position: relative;
}

div.collapsible-header.collapsible-header-open html {
    position: sticky;
    top: -1px;
    left: 0px;
    right: 0px;
}

div.collapsible-header.collapsible-header-open.sticky-position-mode {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
}

div.collapsible-header:before {
    border-radius: 5px !important;
    content: "+" !important;
    color: #363636 !important;
    display: block !important;
    float: left !important;
    font: 30px bold !important;
    margin-right: 10px !important;
    padding: 0 !important;
    text-align: center !important;
    width: 20px !important;
    align-self: center !important;
}

div.collapsible-header.collapsible-header-open:before {
    content: "-" !important;
}

table {
    border-collapse: separate !important;
}

table th,
table td {
    border: 0px !important;
    padding: 2px !important;
}

table thead.thead-dark tr {
    background-color: lightgrey !important;
}

table tr {
    border-bottom: 1px solid darkgray !important;
    border-top: 0px solid rgb(0, 0, 0) !important;
}

table.renderer-table-bordered th,
table.renderer-table-bordered td {
    border-bottom: 1px solid darkgray !important;
}

ul.collapsible {
    margin: 0px !important;
    padding: 0px !important;
}

header {
    position: -webkit-sticky;
    top: 0px;
}

nav {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: darkgray;
    align-items: center;
    padding: 40px;
}

div.header-spacer {
    height: 90px;
    padding: 40px;
    margin: 0;
}

nav ul {
    position: absolute;
    top: 0;
}

nav li {
    align-self: center;
    align-items: center;
    display: inline-block;
}

nav li a {
    color: white;
    font-size: 1.5em;
    padding: 10px;
}

nav li a:hover {
    color: tomato;
}

a.is-anchor-link {
    scroll-margin-top: '1em';
}

html.expand-all#top-html body.html-renderer div.collapsible-body {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
}

html.expand-all#top-html body.html-renderer div.collapsible-header {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

html.expand-all#top-html body.html-renderer li.list-collapsible {
    border: 0px;
}

html.expand-all#top-html body.html-renderer ul.collapsible {
    border: 0px;
}

div.slide {
    display: none
}


/* Slideshow container */

div.slideshow-container {
    position: relative;
    margin: auto;
    border: 1px solid #ddd;
    padding: 0px 0.5% 0px 0.5%;
}


/* Next & previous buttons */

.slideshow-control-spacer {
    height: 34px;
    margin-bottom: 0px !important;
}

p.slide-status {
    position: absolute;
    border: 1px solid black;
    background-color: #f0f0f0;
    top: 34px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    right: 0%;
    text-align: center;
    padding: 7.5px;
    margin: 0px;
}

a.up {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

a.prev,
a.next {
    cursor: pointer;
    position: absolute;
    top: 0px;
    width: 30%;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}


/* Position the "next button" to the right */

a.next {
    right: 0px;
}

a.prev {
    left: 0px;
}

a.up {
    right: 30%;
    width: 40%;
}

a.down {
    left: -0.5%;
    width: 101%;
}

a.collapsible-button {
    float: right;
    margin: 0.5rem;
    border-radius: 60px;
    background-color: inherit;
    color: #ddd;
    box-shadow: none;
    border: 1px solid #ddd;
}

a.collapsible-button p.font-class-collapse {
    font: 18px bold !important;
    color: #ddd !important;
}

a.collapsible-button:hover {
    border: none !important;
    -webkit-box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%) !important;
    box-shadow: 0 3px 3px 0 rgb(0 0 0 / 14%), 0 1px 7px 0 rgb(0 0 0 / 12%), 0 3px 1px -1px rgb(0 0 0 / 20%) !important;
}

a.collapsible-button:hover p.font-class-collapse {
    color: #212529 !important;
}

div.collapsible-button-div {
    width: -webkit-fill-available;
    place-self: center;
}